<style type="text/css">
.product-pic {
  height: 100px;
  margin-right:10px;
}
</style>
<div class="panel panel-default">
  <div class="panel-body">
    <span ng-repeat="pic in product.pictures">
      <img class="product-pic" ng-src="{{pic.src}}">
    </span>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>基本信息</strong> 
  </div>
  <table class="table table-bordered">
    <tr>
      <td width="300">审核状态</td>
      <td>
        <span class="text-{{statusClassMap[product.status]}}">{{product.status|Dict:'ProductStatus'}}
        </span>
        <span ng-if="can.opStatus(product)">
          <button class="btn btn-sm btn-success"
                  ng-click="SaveStatus(product, 'accepted')">
            审核通过
          </button>
          <button class="btn btn-sm btn-danger"
                  ng-click="SaveStatus(product, 'rejected')">
            拒绝
          </button>
        </span>
      </td>
    </tr>
    <tr>
      <td>创建者</td>
      <td>{{product.creater.name}}</td>
    </tr>
    <tr>
      <td>产品类别</td>
      <td>
        <a href="#/product/category?selected={{product.category}}">{{categoryNameOf(product)}}</a>
      </td>
    </tr>
    <tr ng-repeat="prop in propRows" ng-if="product[prop.name]">
      <td>{{prop.title}}</td>
      <td>{{product[prop.name]}}</td>
    </tr>
  </table>
</div> <!-- boxed end -->

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>描述</strong>
  </div>
  <div class="panel-body" ng-bind-html="product.description"></div>
</div> <!-- boxed end -->



<div class="panel panel-default">
    <div class="panel-heading">
      <strong>文件</strong>
    </div>
    <div class="panel-body">
    <table  class="table table-default" 
            ng-controller="ProductOneDocumentController">
      <thead>
        <tr>
          <th></th>
          <th>文件名</th>
          <th>类型</th>
          <th>下载</th>
          <th style="width:200px">大小</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="doc in product.documents" ng-init="ftInfo = FileTypeServ.GetInfo(doc.type)">
          <td><i class="{{ftInfo.icon}}"></i></td>
          <td>
              <input type="text" 
                     ng-model="doc.name" 
                     ng-disabled="doc.$_isUploading"
                     style="border:none;height:100%;padding-left:10px"
                     ng-change="doc.$_isChanged=true"
                     ng-blur="SaveDocumentsOnBlur(product)"
                     ng-keypress="CheckKeyEnter($event)"
                     >
          </td>
          <td>{{ftInfo.name}}</td>
          <td>
            <a style="visibility:{{doc.$_isUploading?'hidden':'visible'}}" href ng-click="OpenDocument(doc)"><i class="fa fa-download"></i></a>
          </td>
          <td>
            <div ng-if="doc.$_isUploading" 
                 style="width:190px;margin-top:10px;margin-bottom:0"
                 class="progress progress-striped active">
              <div class="progress-bar progress-bar-info"
                   style="width: {{doc.upPercent}}%">{{doc.upPercent}}%</div>
            </div>

            <span ng-if="doc.$_isUploading"> {{doc.upSize|bytes}} / </span>
            <span> {{doc.size | bytes}} </span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div> <!-- boxed end -->


<div class="panel panel-default">
    <div class="panel-heading">
      <strong>供应商</strong>
    </div>
    <div class="panel-body">
    </div>
</div> <!-- boxed end -->


